body {
	background-color: tan;
	font-family: monospace;
}

.content p,
li {
	font-size: large;
}

.gifs {
	width: 33%;
	clear: both;
	text-align: center;
}

#vidya {
	display: flex;
	justify-content: center;
}
